body {
  font-family: Arial;
  padding: 10px;
  background:#ddd;
 
}
.header {
  background-color: grey;
  color:white;
  padding: 20px;
  text-align: center;
}

.space {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 5px;
  border:5px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5px;
}

/* Left and right column */
.column.side {
  width: 28%;
  height:100%;
  margin: 2px;
  border:2px solid black;
  
}


/* Middle column */
.column.middle {
  border:2px solid black;
  width: 70%;
  margin: 2px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.solar
{ padding: 10px;
   margin: auto;
  background: #ddd;
  margin-top: 5px;
  border:5px solid black;
  width:90%;
}

.sun , .planets ,.AsteriodBelt ,.KuiperBelt ,.Comets
{ padding: 10px;
   margin: auto;
  background: #ddd;
  margin-top: 5px;
 box-shadow: 0px 0px 3px 3px grey;
  width:90%;
}

/*
.AsteriodBelt
{ padding: 10px;
   margin: auto;
  background: #ddd;
  margin-top: 5px;
  box-shadow: 0px 0px 3px 3px grey;
  width:90%;
}

.KuiperBelt
{ padding: 10px;
   margin: auto;
  background: #ddd;
  margin-top: 5px;
 box-shadow: 0px 0px 3px 3px grey;
  width:90%;
}
.planets 
{ padding: 10px;
   margin: auto;
  background: #ddd;
  margin-top: 5px;
 box-shadow: 0px 0px 3px 3px grey;
  width:90%;
}
.Comets
{ padding: 10px;
   margin: auto;
  background: #ddd;
  margin-top: 5px;
 box-shadow: 0px 0px 3px 3px grey;
  width:90%;
}
*/



.headersun  {
  background-color: #ddd;
  box-shadow: 0px 0px 3px 3px grey;
  padding: 40px;
 
}



/*planets dropdown*/
.navbar {
  overflow: hidden;
  background-color: black;
  border-radius:10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
  border-radius:10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  color:white;
  border-radius:10px;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px grey;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}





.planetde {
  background-color: #ddd;
  box-shadow: 0px 0px 3px 3px grey;
  padding: 10px;
 
}


.kp {
  background-color: #ddd;
  box-shadow: 0px 0px 3px 3px grey;
  padding: 5px;
  margin:50px;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle,.columnplanets,.rowplanets {
    width: 100%;
  }
}




